<div class="hero-unit">
	<h1>Welcome in Your Life!</h1>
	<p>
		You can basically do everything with the 
		<%= link_to "onemonthrails", "http://onemonthrails.com" %>
		application.
	</p>
	<p>
		<%= link_to "Sign Up Now ...", "#", class: "btn btn-primary btn-large" %>
	</p>
</div>